    .main-header {
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;
            }

            .container-top {
                position: absolute;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
                top: 0;
                left: 0;
                width: 100%;
                height: 45px;
                position: fixed;
                z-index: 100;
            }

            .top-menu {
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 20px;
            }

            .liste-puces {
                display: flex;
                list-style: none;
                gap: 30px;
            }

            .liste-puces li a {
                text-decoration: none;
                color: #ffffff;
                font-family: work sans;
                font-size: 14px;
                font-weight: 600;
            }

            /* Menu principal */
            .main-navbar {
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0px;
                top: 45px;
                width: 94%;
                right: 20px;
                left: 20px;
                height: 50px;
                margin: 0 20px;
                background-color: #ffffff;
                border-radius: 5px;
                gap: 20px;
                box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
                z-index: 100;
            }

            .nav-list {
                list-style: none;
                display: flex;
                gap: 30px;
            }

            .nav-list li a {
                display: flex;
                text-decoration: none;
                color: #122331;
                font-size: 16px;
                font-family: work sans;
                font-weight: 500;
            }

            .container-mainnav {
                position: absolute;
                margin: 0px;
                left: 215px;
            }

            .logo {
                position: absolute;
                left: 80px;
            }

            .search-box {
                position: absolute;
                left: 1200px;
            }



            .hero-slider {
                position: relative;
                width: 100%;
                height: 600px;
                overflow: hidden;
            }

            input[name="slider"] {
                display: none;
            }

            .slides-container {
                width: 100%;
                height: 100%;
                position: relative;
                padding-top: 50px;
                box-sizing: border-box;
            }

            .slides-container::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 35%;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
                pointer-events: none;
                z-index: 2;
            }

            .slide1,
            .slide2,
            .slide3 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease-in-out;
            }

            .slide img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                position: relative;
                z-index: 1;
            }

            /* LOGIQUE D'AFFICHARGE (Le clic sur les points)*/

            #slide-1:checked~.slides-container .slide1,
            #slide-2:checked~.slides-container .slide2,
            #slide-3:checked~.slides-container .slide3 {
                opacity: 1;
                visibility: visible;
            }

            /* BANDE GRISE DU BAS */
            .slider-dots-container {
                position: absolute;
                bottom: 0px;
                right: 20px;
                left: 20px;
                width: 94%;
                margin: 0 20px;
                height: 45px;
                background-color: rgba(140, 160, 180, 0.45);
                border-radius: 12px;
                padding: 15px 0;
                display: flex;
                align-items: center;
                z-index: 50;

            }

            .slider-dots {
                display: flex;
                gap: 25px;
                margin-left: 35px;

            }

            /* Style des 3 points inactifs */
            .dot-1,
            .dot-2,
            .dot-3 {
                width: 14px;
                height: 14px;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                cursor: pointer;
                box-sizing: border-box;
                border: 2px solid transparent;
                transition: all 0.2s ease;

            }

            /* Style actif */
            #slide-1:checked~.slider-dots-container .dot-1,
            #slide-2:checked~.slider-dots-container .dot-2,
            #slide-3:checked~.slider-dots-container .dot-3 {
                background-color: transparent;
                border-color: #ffc900;
                position: relative;

            }

            /* Le point sombre au centre du point actif */
            #slide-1:checked~.slider-dots-container .dot-1::after,
            #slide-2:checked~.slider-dots-container .dot-2::after,
            #slide-3:checked~.slider-dots-container .dot-3::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 6px;
                height: 6px;
                background-color: #202020;
                border-radius: 50%;
            }

            /* Design des boutons */
            .btn {
                position: absolute;
                bottom: 23px;
                left: 50%;
                z-index: 100;

                display: inline-block;
                border: 1px solid #202020;
                padding: 5px 12px;
                border-radius: 30px;
                color: #202020;
                text-decoration: none;
                font-size: 14px;
                font-family: work sans;
                letter-spacing: 0.5px;
                background-color: transparent;
                transition: background-color 0.3s, color 0.3s;
            }

            .btn:hover {
                background-color: #ffc900;
                color: #202020;
            }

            /* Barre d'action rapide */
            .acces-rapide {
                background-color: #ffffff;
                padding: 30px 0;
                width: 100%;
            }

            .acces-rapide ul {
                display: flex;
                justify-content: center;
                gap: 30px;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            /*Aligner vertical a l'interieur de chaque lien (icone et texte) */
            .acces-rapide a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: #404040;
                font-size: 16px;
                font-family: work sans;
                justify-content: center;
                white-space: nowrap;

                /* La zone circulaire jaune */
                width: 140px;
                height: 140px;
                border-radius: 50%;
                transition: background-color 0.3s ease;
            }

            .acces-rapide a:hover,
            .acces-rapide li.active a {
                background-color: #fcc801;
            }

            .acces-rapide img {
                width: 35px;
                height: 35px;
                margin-bottom: 8px;


            }

/* OUMAR */

/* Particuliers */
.titr-btn1{
    display: flex;
    gap: 100px;
    margin-left: 160px;
    font-family: work sans;
    justify-content: center;
}
.btn-z{
    width: 250px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    margin-top:30px;
    transition: 0.9s;
    font-family: work sans;
}
.btn-z:hover{
    background-color: #ffcb05;
    border: none;
}
.image-z{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-image: url(assets/img/telephones.jpg);
    background-size: cover;
    font-family: work sans;
}
.image-x{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/services-mobiles-scaled.jpg);
    background-size: cover;
    font-family: work sans;
}
.image-y{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/equipements-internet.png);
    background-size:cover;
    font-family: work sans;
}
/* Business */
.titr-btn-two{
    display: flex;
    gap: 150px;
    margin-left: 250px;
    justify-content: center;
    font-family: work sans;
}
.image-w{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-image: url(assets/img/mtn-ci-EBU-Des-forfaits-Ebtreprise.png);
    background-size: cover;
    font-family: work sans;
}
.image-v{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/MTN-BOOSTER-02-1.jpg);
    background-size:cover;
    font-family: work sans;
}

/* yello */
.yello{
    width: 70vw;
    height: 70vh;
    margin-left: 14%;
    border-radius: 20px;
    background-image: url(assets/img/bienvenue-chez-yello.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -150px 200px black;
}
.yello-one{
    width: 350px;
    height: 140px;
    position: relative;
    top: 300px;
    margin: 100px;
    border-radius: 25px;
    background-color: #9baebe77;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: work sans;
}

/* MoMo */
.titr-btn-three{
    display: flex;
    gap: 170px;
    margin-left: 280px;
    justify-content: center;
    font-family: work sans;
}
.image-u{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-image: url(assets/img/momo-pricipam.jpg);
    background-size: cover;
    font-family: work sans;
}
.image-v{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/momo-merchant-min-e1562932511173.jpg);
    background-size:cover;
    font-family: work sans;
}
.image-t{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/momo_corporates-min.jpg);
    background-size:cover;
    font-family: work sans;
}

.title1{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 60px;
    font-family: work sans;
}
.btn1{
    width: 170px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    margin-top:30px;
    transition: 0.9s;
    font-family: work sans;
}
.btn1:hover{
    background-color: #ffcb05;
    border: none;
}
.titr-btn{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-left: 150px;
    font-family: work sans;
}
.image-one{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-image: url(assets/img/IMAGE-PRINCIPALE-2.jpg);
    background-size: cover;
    font-family: work sans;
}
.image-two{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/MARCHAND-2.jpg);
    background-size:cover;
    font-family: work sans;
}
.image-three{
    width: 400px;
    height: 190px;
    border-radius: 30px;
    background-image: url(assets/img/CLIENT-2.jpg);
    background-size:cover;
    font-family: work sans;
}
.first-section{
    display: flex;
    gap: 15px;
    font-family: work sans;
    justify-content: center;
}
.esim{
    width: 70vw;
    height: 70vh;
    margin-left: 14%;
    border-radius: 20px;
    background-image: url(assets/img/MTN-CI-eSIM2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -150px 200px black;
}
.esim-one{
    width: 350px;
    height: 130px;
    position: relative;
    top: 300px;
    margin: 100px;
    border-radius: 25px;
    background-color: #9baebe77;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: work sans;
}
.btn2{
    width: 170px;
    height: 40px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    background-color: #9baebe77;
    transition: 0.5s;
    font-family: work sans;
}
.btn2:hover{
    color: black;
    background-color: white;
}
.mon-footer{
    width: 98vw;
    height: 40vh;
    border-radius: 15px;
    background-color: black;
    font-family: work sans;
}

/* le footer */
.footer-p1{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding-top: 50px;
}
.contact{
    display: flex;
    gap: 30px;
}
.socials{
    display: flex;
    color: yellow;
    gap: 20px;
    font-weight: bold;
    transition: 0.9s;
}
.socials :hover{
    color: white;
    text-decoration: underline yellow;
}
.other{
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    font-size: small;
    padding-top: 50px;
    margin-right: 10px;
    transition: 0.9s;
}
.other :hover{
    color: yellow;
    text-decoration: underline yellow;
}