.main-header2 {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    }

.container-top {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 100;
}

.top-menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.liste-puces {
    display: flex;
    list-style: none;
    gap: 30px;
}

.liste-puces li a {
    text-decoration: none;
    color: #ffffff;
    font-family: work sans;
    font-size: 14px;
    font-weight: 600;
}

/* Menu principal */
.main-navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    top: 45px;
    width: 94%;
    right: 20px;
    left: 20px;
    height: 50px;
    margin: 0 20px;
    background-color: #ffffff;
    border-radius: 5px;
    gap: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: fixed;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-list li a {
    display: flex;
    text-decoration: none;
    color: #122331;
    font-size: 16px;
    font-family: work sans;
    font-weight: 500;
}

.container-mainnav {
    position: absolute;
    margin: 0px;
    left: 215px;
}

.logo {
    position: absolute;
    left: 80px;
}

.search-box {
    position: absolute;
    left: 1200px;
}

.hero-container {
    position: relative;
    
}

.hero-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 2;
}

.hero-pict {
    box-sizing: border-box;
}

.hero-text {
    position: absolute;
    top: 55%;
    left: 6%;
    gap: 12px;
}

.hero-text h5 {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: work sans;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hero-text h1 {
    font-family: work sans;
    font-size: 64px;
    line-height: 64px;
    color: #ffffff;
    margin-top: 0;
    padding-top: 0;
}







.form-title{
    text-align: center;
    font-family: work sans;
    font-size: 38px;
    color: #202020;
}
.politik{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    transition: 0.2s;
    padding: 7px;
    padding-top: 20px;
}
.politik:hover{
    background-color: rgb(187, 187, 187);
}

 /*formulaire contact */
.formulaire-contact {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .line-name {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .line-name .group-champ {
    flex: 1;
    margin-bottom: 0;
  }

  /* Le label au dessus de son input */
  .group-champ {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  /* Style des titres de champ */
  .group-champ label {
    font-weight: bold;
    font-size: 14px;
    font-family: work sans;
    color: #202020;
    margin-bottom: 8px;
  }

  /*Design des rectangles input et textarea */
  .group-champ input,
  .group-champ textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    outline: none;
  }

  .group-champ textarea {
    width: 150;
    resize: vertical;
  }

  .btn-soumettre {
    background-color: #ffc900;
    color: #000000;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-family: work sans;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
  }

  
  /* Apres formulaire */

  .after-formulaire{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: work sans;
  }

/* Partie coordonnées */
.coordonnees{
    width: 30vw;
    height: 45vh;
    border-radius: 10px;
    background-color: #ffcb05;
    padding: 30px;
    position: relative;
    top: -40px;
    font-family: work sans;
}















/* CSS footer */
.mon-footer{
    width: 98vw;
    height: 40vh;
    border-radius: 15px;
    background-color: black;
    font-family: work sans;
}
.footer-p1{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding-top: 50px;
}
.contact{
    display: flex;
    gap: 30px;
}
.socials{
    display: flex;
    color: yellow;
    gap: 20px;
    font-weight: bold;
    transition: 0.9s;
}
.socials :hover{
    color: white;
    text-decoration: underline yellow;
}
.other{
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    font-size: small;
    padding-top: 50px;
    margin-right: 10px;
    transition: 0.9s;
}
.other :hover{
    color: yellow;
    text-decoration: underline yellow;
}
